<web-app>    
<display-name>Lesson12</display-name>   
 <welcome-file-list>      
<welcome-file>index.html</welcome-file>  
</welcome-file-list>   
 <servlet>      
<servlet-name>Testing</servlet-name> 
<servlet-class>TestingServlet</servlet-class> 
</servlet>   
<servlet-mapping>    
<servlet-name>Testing</servlet-name>  
<url-pattern>/Testing</url-pattern> 
</servlet-mapping>
</web-app>
